* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body::-webkit-scrollbar-corner {
  background: #f0f0f0;
}

